@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --text-gray-color: #9e9e9e;
  --font-text: "Poppins", serif;
  --font-title: "Playfair Display", serif;
}

.light {
  --background-color: #ffffff;
  --font-color: #000000;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --bouton-color: #ffffff;
}

.dark {
  --background-color: #262626;
  --font-color: #ffffff;
  --shadow-color: rgba(183, 183, 183, 0.1);
  --bouton-color: #000000;
}

html {
  background-color: var(--background-color) !important;
  height: 100%;
}

#root {
  background-color: var(--background-color);
  min-height: 100dvh;
  padding-top: 60px;
  transition: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-text);
  color: var(--font-color);
  background-color: var(--background-color);
  transition: 0.5s;
}

body {
  font-family: var(--font-text);
  color: var(--font-color);
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--background-color);
}
