.create-exposure {
  background-color: var(--background-color);
  font-family: var(--font-family);
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin-top: 4rem;
}

.create-exposure-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.create-exposure-container > h1 {
  font-size: 24px;
  color: var(--font-color);
  margin-bottom: 20px;
  margin-left: 16px;
}

.create {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 16px;
  margin-top: 8px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.event-container {
  display: flex;
  padding-top: 1rem;
  margin-top: 1rem;
}

.info-event {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 20rem;
  margin-right: 1rem;
  justify-content: space-between;
}

.info-event input {
  border-radius: 0.3rem;
  height: 2rem;
}

.info-event textarea {
  border-radius: 0.3rem;
}

.details-event {
  width: 70vw;
}

.details-event h2 {
  font-size: 16px;
  font-weight: initial;
}

.details-event input {
  border-radius: 0.3rem;
  height: 2rem;
}

.select-artworks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e0e0e0;
  height: 14rem;
  padding: 1rem;
  padding-top: 0.5rem;
}

.select-artworks input {
  width: 20%;
}

.select-artworks h2 {
  margin-bottom: 1rem;
}

.search input {
  flex-direction: column;
  font-size: 1rem;
  border-radius: 2rem;
  padding: 0.3rem;
  border: 1px solid var(--text-gray-color);
}

.lieu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 1rem;
}

.lieu-input {
  display: flex;
  margin-bottom: 1rem;
}

.toggle-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 3px 8px;
  font-size: 12px;
  height: 28px;
  border-radius: 5px;
  white-space: nowrap;
  line-height: 1;
}

.toggle-btn input {
  cursor: pointer;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.toggle-btn.checked {
  color: black;
}

.lieu-container input {
  height: 5rem;
  width: 100%;
}

.artwork-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  overflow-x: scroll;
  margin-bottom: -1rem;
  scrollbar-width: thin;
  scrollbar-color: #0000004b #f5f5f500;
}

.artwork-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artwork-item input {
  margin-top: -1rem;
}

.search-artwork {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.artist-name {
  position: relative;
  font-size: 0.7rem;
  color: #000;
  background-color: #ffffffa1;
  bottom: 1.05rem;
  width: 100%;
}

@media (min-width: 768px) {
  .event-container {
    display: flex;
  }

  .info-event {
    width: 30vw;
    height: 20rem;
    margin-right: 1rem;
  }

  .details-event {
    width: 70vw;
  }

  .toggle-btn {
    padding: 5px 12px;
    font-size: 14px;
  }

  .select-artworks {
    background-color: #e0e0e0;
    margin-right: 1rem;
    height: 14rem;
  }
}

@media (max-width: 768px) {
  .create-exposure-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .create-exposure-container > h1 {
    font-size: 20px;
  }

  .event-container {
    flex-direction: column;
  }

  .info-event {
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .details-event {
    width: 100%;
  }

  .create {
    width: 100%;
    margin-right: 0;
  }

  .select-artworks {
    background-color: #e0e0e0;
    margin-right: 0;
    height: auto;
  }

  .search input {
    font-size: 0.9rem;
  }

  .lieu-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .toggle-btn {
    font-size: 10px;
    padding: 3px 6px;
  }

  .toggle-btn input {
    width: 14px;
    height: 14px;
  }

  .toggle-btn span {
    font-size: 12px;
  }

  .select-artworks input {
    width: 100%;
  }
}
