.ed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
}

.ed-title {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Playfair Display", serif;
}

.ed-desc {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.ed-location {
  margin-top: 1rem;
}

.ed-dates {
  font-size: 0.8rem;
  opacity: 0.7;
}

.ed-artworks-title {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 2rem;
}

.ed-artwork-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ed-artwork-name {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1rem;
}

.ed-artwork-img-container {
  margin-top: 0.5rem;
  width: 240px;
  height: 240px;
  overflow: hidden;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.2);
}

.ed-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ed-artwork-desc {
  margin-top: 0.5rem;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.7;
}
.ed-artist-name {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  opacity: 0.7;
  color: var(--text-black-color);
}
.ed-return {
  color: white;
  background-color: black;
  padding: 7px;
  margin-top: 1rem;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 767px) {
  .ed-title {
    font-size: 2.5rem;
  }

  .ed-desc {
    font-size: 1.4rem;
  }

  .ed-location {
    font-size: 1.2rem;
  }

  .ed-dates {
    font-size: 1rem;
  }
  .ed-artworks-title {
    font-size: 1.4rem;
  }
  .ed-artwork-name {
    font-size: 1.2rem;
  }
  .ed-artwork-img-container {
    width: 300px;
    height: 300px;
  }
  .ed-artwork-desc {
    margin-top: 0.8rem;
    font-size: 1rem;
  }
  .ed-artist-name {
    margin-top: 0.8rem;
    font-size: 1.1rem;
  }
  .ed-return {
    padding: 7px;
  }
}

@media screen and (min-width: 1224px) {
  .scroll {
    display: flex;
    gap: 3rem;
    overflow-x: auto;
    white-space: nowrap;
    padding: 14px;
    scrollbar-width: thin;
    scrollbar-color: grey;
    scroll-behavior: smooth;
  }

  .ed-title {
    font-size: 3rem;
  }

  .ed-desc {
    font-size: 1.6rem;
  }

  .ed-location {
    font-size: 1.3rem;
  }

  .ed-dates {
    font-size: 1.1rem;
  }

  .ed-artworks-title {
    font-size: 1.5rem;
  }
  .ed-artwork-name {
    font-size: 1.3rem;
  }
  .ed-artwork-img-container {
    width: 340px;
    height: 340px;
  }
  .ed-artwork-desc {
    font-size: 1.1rem;
  }
  .ed-artist-name {
    font-size: 1.2rem;
  }
  .ed-return {
    padding: 9px;
  }
}
