.allevents-container {
  padding: 1rem;
  display: flex;
  gap: 2rem;
}

.current-container {
  background-color: rgb(118, 255, 141);
  border-radius: 7px;
  padding: 7px;
  width: 400px;
}

.upcoming-container {
  background-color: rgb(118, 228, 255);
  border-radius: 7px;
  padding: 7px;
  width: 400px;
}

.current-container > h2 {
  font-weight: 600;
}

.upcoming-container > h2 {
  font-weight: 600;
}

.cardevent-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
}

.cardevent-container > article {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  padding: 4px;
}

.cardevent-container > article > h3 {
  font-weight: 400;
}

.delete-event-button {
  color: rgb(255, 255, 255);
  background-color: rgb(219, 80, 80);
  border-radius: 4px;
  padding: 4px;
}
.see-event-button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
  padding: 4px;
}
