.barre {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.barre input {
  width: 70%;
  font-size: 1rem;
  border-radius: 2rem;
  padding: 0.3rem;
  border: 1px solid var(--text-gray-color);
}

.filtre {
  display: flex;
  padding: 2rem;
}

.filtre select {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 0.3rem;
  border-radius: 5px;
}

.creation-bouton {
  display: flex;
  margin: 2rem;
}

.categories {
  margin: 0 auto;
  display: flex;
  overflow-x: scroll;
  margin-top: -1rem;
  max-width: calc(3 * 100px);
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

button {
  background: none;
  border: none;
  color: var(--text-gray-color);
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

button.selected {
  color: black !important;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .barre-filtre {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .barre {
    width: 50%;
    padding-top: 0;
  }

  .barre input {
    width: 60%;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--text-gray-color);
  }

  .filtre select {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
  }

  .categories {
    justify-content: flex-start;
    max-width: 50%;
    gap: 1rem;
    margin-top: 1rem;
  }

  .categories button {
    padding: 1rem 2rem;
    font-size: 1.3rem;
  }
}

@media (min-width: 1675px) {
  .categories {
    justify-content: center;
    max-width: 100%;
  }
}
