.header-container {
  margin-top: 1.5rem;
}
.barre {
  display: flex;
  justify-content: center;
}

.barre input {
  width: 60%;
  height: 30px;
  font-size: 1rem;
  border-radius: 2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--text-gray-color);
}

.filtre {
  display: flex;
  padding: 1rem;
}

.filtre select {
  box-shadow: 0 0 10px 0 var(--shadow-color);
  padding: 0.3rem;
  border: none;
  border-radius: 5px;
}

.categories {
  margin: 0 auto;
  display: flex;
  overflow-x: scroll;
  margin-top: -1rem;
  max-width: calc(3 * 105px);
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

button {
  background: none;
  border: none;
  color: var(--text-gray-color);
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

button.selected {
  color: black;
  text-decoration: underline;
}

.btn-search {
  display: none;
}

@media (min-width: 768px) {
  .header-container {
    margin-top: 4.5rem;
  }
  .barre-filtre {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-right: 15rem;
  }

  .barre {
    width: 70%;
    padding-top: 0;
  }

  .barre input {
    width: 70%;
    height: 40px;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin-top: 3px;
    border: 1px solid var(--text-gray-color);
  }

  .filtre select {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
  }

  .categories {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: -1rem;
    justify-content: center;
    overflow-x: auto;
    cursor: pointer;
    max-width: 85%;
    scrollbar-width: none;
    scrollbar-width: thin;
    scrollbar-color: #9e9e9e #fff;
    scroll-behavior: smooth;
    gap: 0;
  }

  .categories button {
    padding: 1rem 1rem;
    font-size: min(1.8vw, 1.2rem);
  }
  .btn-search {
    display: block;
    margin-left: -4rem;
  }
}

@media (min-width: 1675px) {
  .header-container {
    margin-top: 5rem;
  }
  .categories {
    justify-content: center;
    max-width: 100%;
    margin-top: 2.5rem;
  }
  .barre input {
    height: 45px;
  }
}
