@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.navbar {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 4rem;
  padding: 10px 20px;
}

.link-nav a {
  display: flex;
  align-items: center;
  margin-left: auto;
  text-decoration: none;
  color: black;
}

.link-nav {
  margin-left: auto;
}

.link-nav > ul {
  display: flex;
  gap: 4rem;
  list-style: none;
  font-size: 2rem;
}

.btn-connexion {
  color: white;
  background-color: black;
  padding: 1rem;
  margin-right: 3rem;
}
