.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.logo img {
  object-fit: cover;
  max-width: 4rem;
  margin-top: 0.4rem;
}

.link-nav {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: calc(0.4rem + 0.8vw);
  align-items: baseline;
}

.btn-connexion {
  display: flex;
  color: white;
  background-color: black;
  padding: 0.3rem 0.6rem;
  text-decoration: none;
}

.nav-item {
  color: black;
  text-decoration: none;
}

.nav-item.inactive {
  color: gray;
}

@media screen and (min-width: 768px) {
  .logo img {
    object-fit: cover;
    max-width: 8rem;
  }

  .link-nav {
    font-size: calc(0.8rem + 0.vw);
    gap: 2rem;
  }
}
