.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.logo img {
  object-fit: cover;
  max-width: 4rem;
  margin-top: 0.4rem;
  transition: ease 0.5s;
}

.link-nav {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: calc(0.4rem + 0.8vw);
  align-items: baseline;
}

.nav-item {
  color: var(--font-color);
  text-decoration: none;
}

.nav-item.inactive {
  color: gray;
}

.btn-connexion {
  display: flex;
  color: white;
  background-color: black;
  border: solid 1px grey;
  padding: 0.3rem 0.6rem;
  font-size: calc(0.6rem + 0.8vw);
  text-decoration: none;
}

.burger-nav {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.burger-nav span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--font-color);

  transition: 0.3s;
}

@media screen and (max-width: 620px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .burger-nav {
    display: flex;
    order: -1;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .link-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: auto;
    min-width: 150px;
    padding: 0.5rem 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 100;
    align-items: flex-start;
    gap: 0;
    font-size: 1rem;
  }

  .link-nav.show {
    display: flex;
    background-color: var(--background-color);
  }

  .link-nav li {
    padding: 0.5rem;
    text-align: left;
    padding: 0.3rem 1rem;
  }

  .link-nav li a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    padding: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .logo img {
    object-fit: cover;
    max-width: 8rem;
  }

  .link-nav {
    font-size: calc(0.8rem + 0.vw);
    gap: 2rem;
  }
}

.toggle-theme {
  display: flex;
  align-self: center;
  margin-right: 1rem;
}
