@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.navbar {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.logo img {
  object-fit: cover;
  max-width: 6rem;
  margin-top: 1rem;
}

.link-nav {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: 0.5rem;
  align-items: baseline;
}

.btn-connexion {
  display: flex;
  color: white;
  background-color: black;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.nav-item {
  color: black;
  text-decoration: none;
}

.nav-item.inactive {
  color: gray;
}

@media screen and (min-width: 900px) {
  .logo img {
    object-fit: cover;
    max-width: 10rem;
    margin-top: 1rem;
  }

  .link-nav {
    font-size: 2rem;
    gap: 4rem;
  }
}
