.new-post-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-top: -4.3rem;
  margin-bottom: 1rem;
}

.new-post {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  color: var(--text-black-color);
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.1s ease;
}

.new-post:active {
  scale: 0.9;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-closeModal {
  margin-top: -1.6rem;
  margin-right: -1rem;
}

.modal {
  border: none;
  border-radius: 1rem;
  padding: 2rem;
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal input,
.modal textarea,
.modal select {
  padding: 0.8rem;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.modal textarea {
  min-height: 10rem;
  resize: vertical;
}

.modal button[type="submit"] {
  background: var(--text-black-color);
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.modal button[type="submit"]:hover {
  opacity: 0.9;
}

.btn-closeModal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: var(--text-black-color);
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
}

@media (min-width: 768px) {
  .new-post-container {
    margin-top: -4.6rem;
    margin-right: 8rem;
  }

  .new-post {
    font-size: 1rem;
  }

  .modal {
    width: 50%;
  }
}
