.masonry-gallery {
  column-count: 2;
  margin: 2rem;
  column-gap: 0.25rem;
  row-gap: 0.5rem;
}

.masonry-gallery > .masonry-item > img {
  width: 100%;
}

@media screen and (min-width: 767px) {
  .masonry-gallery {
    column-count: 4;
    margin: 4rem;
  }
}
