.masonry-gallery {
  column-count: 2;
  margin: 0.4rem;
  margin-top: 0;
  column-gap: 0.4rem;
}

.masonry-gallery > .masonry-item > img {
  width: 100%;
}

@media screen and (min-width: 767px) {
  .masonry-gallery {
    column-count: 4;
    margin-top: 3rem;
  }
}
