.masonry-gallery {
  column-count: 2;
  margin: 1rem;
  column-gap: 0.25rem;
  row-gap: 0.5rem;
}

.masonry-gallery > img {
  width: 100%;
}

@media screen and (min-width: 767px) {
  .masonry-gallery {
    column-count: 4;
  }
}
