.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--background-color);
}

.signup-form {
  background-color: var(--background-color);
  padding: 21px;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 320px;
}

.form-group {
  margin-bottom: 14px;
}

.form-group label {
  display: flex;
  align-items: center;
  font-weight: light;
  font-size: 1rem;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #9e9e9e;
  border-radius: 4px;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 7px;
}
.signup-button:disabled {
  background-color: #333333;
  opacity: 0.5;
  cursor: not-allowed;
}

.signup-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease;
}

.login-link {
  text-align: center;
  margin-top: 10px;
  color: var(--text-gray-color);
  text-decoration: none;
  border: none;
  background-color: var(--background-color);
}

.login-link:hover {
  color: black;
}

.password-input-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
}
.checkbox-container > p {
  font-size: 8px;
  margin-left: 7px;
}

input:focus {
  outline: none;
  border: solid black 1px;
}

.error-container {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #ffebee;
  border: 1px solid #ef5350;
  border-radius: 4px;
}

.error-message {
  color: #c62828;
  margin: 0;
  font-size: 0.9rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .signup-form {
    width: 450px;
    height: auto;
  }
  .form-group label {
    font-size: 1.3rem;
  }
  .signup-button {
    font-size: 21px;
  }
  .login-link {
    font-size: 21px;
    text-align: center;
    margin-left: 12vw;
  }
  .checkbox-container {
    height: 21px;
  }
  .checkbox-container > p {
    font-size: 14px;
  }
  .checkbox-container > input {
    height: 21px;
    width: 21px;
  }
}
