.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: var(--background-color);
}

.signup-form {
  background-color: var(--background-color);
  padding: 21px;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 301px;
}

.form-group {
  margin-bottom: 14px;
}

.form-group label {
  display: flex;
  align-items: center;
  font-weight: light;
  font-size: 1rem;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #9e9e9e;
  border-radius: 4px;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 7px;
}
.signup-button:disabled {
  background-color: #333333;
  opacity: 0.5;
  cursor: not-allowed;
}

.signup-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease;
}

.login-link {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: var(--text-gray-color);
  text-decoration: none;
}

.login-link:hover {
  color: black;
}

.password-input-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
}
.checkbox-container > p {
  font-size: 8px;
  margin-left: 7px;
}

input:focus {
  outline: none;
  border: solid black 1px;
}
