.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: var(--background-color);
}

.signup-form {
  background-color: var(--background-color);
  padding: 21px;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 301px;
}

.form-group {
  margin-bottom: 14px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: light;
  font-size: 1rem;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #9e9e9e;
  border-radius: 4px;
}

.form-group.error input {
  border: 1px solid red;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 7px;
}

.signup-button:hover {
  background-color: #333;
}

.login-link {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: var(--text-gray-color);
  text-decoration: none;
}

.login-link:hover {
  color: black;
}

.password-input-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}
.tooltip {
  background-color: #c01c0d;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
}
